.container {
  width: 575px;
  height: 825px;

  background-color: #797978;
  padding-left: 30px;
}

#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;

  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;

  text-align: center;
  font-size: 25px;

  padding-left: 21px;
}


nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  background-color: #f5f5f5;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 10px 40px;
  border: 2px solid #000;
  border-radius: 6px;
  background-color: #e0e0e0;
  transition: all 0.3s ease;
}


